Code/bin/**
Code/obj/**
Deprecated\ Code/**
Deprecated\ Stuff/**
Windows\ libraries/**
Code/GameLog.txt
Code/.codelite
Code/Fear-Of-The-Dark.txt
Code/Fear-Of-The-Dark.mk
Tools/AnimationTool/AnimationTool/objSPEC/**
Tools/AnimationTool/AnimationTool/CEGUI.log
